@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap");
* {
	margin: 0;
	padding: 0;
}

body,
html {
        font-family: 'Lato', sans-serif;
	overflow: hidden;
	user-select: none;
	cursor: url(cursor.png) 16 16, auto !important;
	color: white;
	text-align: center;
}

i {
	cursor: url(cursor.png) 16 16, auto !important;
}
i:hover {
	cursor: url(cursor.png) 16 16, auto !important;
}

.icons i i:hover a a:hover {
	cursor: url(cursor.png) 16 16, auto !important;
}

Main {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
Main .header {
	width: auto;
	display: flex;
	flex-direction: column;
}

Main .header .icons {
	margin-top: 10px;
	color: white;
	font-size: 25px;
}

.musicButtons i {
	margin-top: 30px;
	font-size: 30px;
	cursor: pointer;
	width: max-content;
}

Main .header a {
	text-decoration: none;
	color: white;
	margin: 10px 5px;
}

Main .header > #name {
	font-size: 30px;
	font-weight: bold;
	text-transform: lowercase;
	width: max-content;
	margin: 0 auto;
}

Main .header > #name > p {
	color: gray;
	font-size: 16px;
	display: inline-block;
}

Main .header .icons i {
	transition: 200ms;
	cursor: pointer;
}

Main .header .icons i:hover {
	transform: scale(1.1);
}

.background {
	background: radial-gradient(circle at bottom, navy 0, black 100%);
	height: 100vh;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
}

.space {
	background: rgba(128, 0, 128, 0.1) center / 200px 200px round;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
#content .title {
    color: #940000;
    text-transform: uppercase;
    padding-top: 42.5vh;
    font-weight: 800;
    font-size: 4rem;
    text-align: center;
  }
  
  #content .title span {
    color: #fff;
  }
  
  #content ul {
    list-style: none;
    padding: 0;
    margin-top: -10px;
    text-align: center;
  }
  
  #content ul li {
    display: inline-block;
    padding: 0;
  }
  
  #content ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0;
    font-size: 1.1rem;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  #content ul li:hover a, #content ul li:focus a, #content ul li:active a {
    transition: 100ms linear;
    color: #550303;
  }
  
  #content ul li.divider {
    color: #7a4406;
    padding: 0px 10px;
  }
  
  #content img {
    height: 72px;
    padding: 0;
  }
  
  #content .scroller {
    text-align: center;
    padding: 0;
    display: block;
    margin-top: 36.5vh;
  }
  

#products .title {
    font-size: 2.5rem;
    color: #fff;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding-top: 150px;
  }
  


#products {
    background-image: linear-gradient(#191919, #141414);
  }


  #products .line {
    display: block;
    margin: 0 auto;
    width: 50px;
    margin-top: 2.5px;
    background: #eb6834;;
    height: 2px;
  }
  
  #products .text {
    color: #a6a6a6;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 10px;
    font-size: 1.15rem;
    padding-bottom: 75px;
  }

.stars1 {
	animation: space 180s ease-in-out infinite;
	background-image: radial-gradient(1px 1px at 25px 5px, white, rgba(255, 255, 255, 0)), radial-gradient(1px 1px at 50px 25px, white, rgba(255, 255, 255, 0)),
		radial-gradient(1px 1px at 125px 20px, white, rgba(255, 255, 255, 0)), radial-gradient(1.5px 1.5px at 50px 75px, white, rgba(255, 255, 255, 0)),
		radial-gradient(2px 2px at 15px 125px, white, rgba(255, 255, 255, 0)), radial-gradient(2.5px 2.5px at 110px 80px, white, rgba(255, 255, 255, 0));
}

.stars2 {
	animation: space 240s ease-in-out infinite;
	background-image: radial-gradient(1px 1px at 75px 125px, white, rgba(255, 255, 255, 0)), radial-gradient(1px 1px at 100px 75px, white, rgba(255, 255, 255, 0)),
		radial-gradient(1.5px 1.5px at 199px 100px, white, rgba(255, 255, 255, 0)), radial-gradient(2px 2px at 20px 50px, white, rgba(255, 255, 255, 0)),
		radial-gradient(2.5px 2.5px at 100px 5px, white, rgba(255, 255, 255, 0)), radial-gradient(2.5px 2.5px at 5px 5px, white, rgba(255, 255, 255, 0));
}

.stars3 {
	animation: space 300s ease-in-out infinite;
	background-image: radial-gradient(1px 1px at 10px 10px, white, rgba(255, 255, 255, 0)), radial-gradient(1px 1px at 150px 150px, white, rgba(255, 255, 255, 0)),
		radial-gradient(1.5px 1.5px at 60px 170px, white, rgba(255, 255, 255, 0)), radial-gradient(1.5px 1.5px at 175px 180px, white, rgba(255, 255, 255, 0)),
		radial-gradient(2px 2px at 195px 95px, white, rgba(255, 255, 255, 0)), radial-gradient(2.5px 2.5px at 95px 145px, white, rgba(255, 255, 255, 0));
}

@keyframes space {
	40% {
		opacity: 0.75;
	}
	50% {
		opacity: 0.25;
	}
	60% {
		opacity: 0.75;
	}
	100% {
		transform: rotate(360deg);
	}
}

.discordProfile {
	margin: 10px 0;
	height: 90px;
	border-radius: 16px;
	overflow: hidden;
	width: max-content;
	margin: 0 auto;
	transition: 300ms ease-in-out;
}

.discordProfile:hover {
	height: 220px;
}

main .header .emojis {
	margin-top: 10px;
}
* {
	font-family: 'Lato', sans-serif;
}
body {
	background: var(--main);
	font-family: Arial,Helvetica,sans-serif;
}
*, ::after, ::before {
	box-sizing: border-box;
	margin: 0;
}
.developer-container {
	margin: 20px;
	background: #1c252b;
	background: var(--secondary);
	box-shadow: -3px 3px 10px rgba(0,0,0,0.151);
	padding: 20px;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	color: #fff;
	color: var(--text);
	font-size: calc(30px + 1.5vw);
	font-weight: 700;
	text-align: center;
	border-bottom: 5px solid #313b99;
	border-bottom: 5px solid var(--first);
	max-width: 700px;
	transition: transform .2s ease, box-shadow .3s ease;
}
.dev-cont {
	display: flex;
	justify-content: center;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	flex-wrap: nowrap;
	flex-direction: row;
}
.main-container {
	position: relative;
	top: 40vh;
	left: 0px;
	width: 100%;
	height: 100%;
	background: linear-gradient(300deg,#1e272e 40%,#1c252b);
	background: linear-gradient(300deg,var(--main) 40%,var(--secondary));
	border-top: 5px solid #313b99;
	border-top: 5px solid var(--first);
}
body {
	background: #1c252b;
}
body, html {
	margin: 0;
}
body {
	background: #1e272e;
	background: var(--main);
	font-family: Arial,Helvetica,sans-serif;
}
body {
	overflow-x: hidden;
}
:root {
	--main: #1c252b: ;
}
:root {
	--main:#1e272e: ;
	--secondary:#1c252b: ;
	--first:#313b99: ;
	--text:#fff: ;
	--user:"Alicia#6666": ;
}
.dev-wrap {
	display: flex;
	flex-direction: row;
	max-width: 50vh;
}
.dev-description {
	font-size: calc(10px + .3vw);
	font-weight: 400;
	display: block;
	margin: auto;
	opacity: 0.8;
	padding-left: 1vw;
}
.imggg {
	position: relative;
	border-radius: 50%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.imggg::before {
	left: 50%;
	top: 45%;
	transform: translate(-50%, -50%);
	position: absolute;
	z-index: 100;
	content: "Aztup#9821";
	font-size: calc(10px + .7vw);
	color: transparent;
	cursor: pointer;
	transition: color .1s ease;
}
.copyLabel {
	position: absolute;
	font-size: 20px;
	color: #fff;
	font-size: calc(6px + .4vw);
	left: 50%;
	transform: translateX(-50%) translateY(-100%);
	background: #313b99;
	background: var(--first);
	padding: 6px;
	border-radius: 5px;
	z-index: 20;
	pointer-events: none;
	opacity: 0;
	transition: transform .2s cubic-bezier(.175, .885, .32, 1.275), opacity .1s ease;
}
.copyLabel::after {
	content: " ";
	position: absolute;
	left: 50%;
	transform: translateX(-50%) translateY(90%);
	bottom: 0px;
	z-index: 19;
	border: calc(5px + .4vw) solid;
	border-color: #313b99 transparent transparent;
	border-top-color: var(--first);
}
.dev img {
	border-radius: 50%;
	width: 8vw;
	min-width: 6rem;
	transition: filter .1s ease;
	cursor: pointer;
}
.copyMe {
	opacity: 0;
	position: fixed;
	left: -100%;
}
 {
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
div, h1, h2, h3, h4, p, a, li, tr, td, textarea, button, input, select, span {
	font-weight: 300;
	font-family: poppins,Poppins,Arial,sans-serif;
	color: inherit;
}
a {
	color: inherit;
	text-decoration: inherit;
}
.smedias .smedia {
	width: 25px;
	height: 25px;
	display: block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25px;
	border-radius: 3px;
}
.smedias .youtube {
	background-image: url(https://cdn.wearedevs.net/images/icons/youtube.png);
}
.smedias {
	position: fixed;
	bottom: 12px;
	right: 12px;
	z-index: 1;
}
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
body {
	background-color: #2f3136;
	color: #ecf0f1;
}


  body::-webkit-scrollbar-track {
    background: #333;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #eb6834;
    border-radius: 6px;
    border: 3px solid #333;
  }

:root {
	--padding: 12px: ;
	--font-size: 16px: ;
	--padding: 12px: ;
	--less-padding: 9px: ;
	--round: 16px: ;
	--less-round: 9px: ;
}

  .container{
    flex: row;
    flex-direction: row;
  }
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
  }
